<button (click)="crateUser()">Add New User</button>


<table>

  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Phone</th>
      <th>Status</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
      <td>{{user.phone}}</td>
      <td>
        <span *ngIf="user.status === 'active'">Active</span>
        <span *ngIf="user.status === 'inactive'">Inactive</span>
      </td>
      <td>
        <span *ngIf="user.type === 'admin'">Admin</span>
        <span *ngIf="user.type === 'normal'">Normal</span>
      </td>
      <td>
        <a [routerLink]="['/user-form', user.id]">Edit</a>
        <button (click)="deleteUser(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
