<h2>List of Data</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <div style="width: 20px;"></div>
      <th>Timestamp</th>
      <div style="width: 20px;"></div>
      <th>Score</th>
      <div style="width: 20px;"></div>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userExam">
      <td>{{ item.id }}</td>
      <div style="width: 20px;"></div>
      <td>{{ item.timestamp }}</td> <div style="width: 20px;"></div>
      <td>{{ item.score }}</td>
      <div style="width: 20px;"></div>
      <td>

        <button  (click)="deleteUserExam(item.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
